
@{
    ViewBag.Title = "CRM";
}
<div class="row">
    <div class="container">
        <h3>CRM</h3>
    </div>
    <div>
        <iframe src="http://www.nickstechtips.com:8081" style="height:1400px; width:100%;"></iframe>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.body-content').removeClass('container');
    })
</script>