@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nicks Tech Tips</h1>
    <p class="lead">Welcome to Nicks Tech Tips! Made by Nick!.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tutorials</h2>
        <p>
           Tutorials from Nick on anything technology related
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Useful Downloads and Cheat Sheets</h2>
        <p>Useful cheat sheets for coding or networking and useful downloads</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Friends Area</h2>
        <p>Are you one of my friends with a login? Click here to checkout friends area. </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>